@block-background: red;
body, h1, h2, h3, h4, h5, p, img {
  margin: 0;
}
body {
  background: #e5e5e5;
}
.ContainerAll {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background: white;
}
.SelectTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.SelectBtn {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
}
.SelectText {
  .fontSize14;
  opacity: .75;
}
.FormElementsSubscriptionPadding {
  padding-left: 0;
}
.inputLittle {
  width: 150px;
  .inputAll
}
.inputMiddle {
  width: 266px;
  .inputAll
}
.inputLarge {
  width: 320px;
  .inputAll
}
input.inputHover:hover, input.inputHover:focus {
  border: rgba(31,32,65,0.5) 1px solid;
}